.container{
  max-width: 84vw !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.1rem;
}

/* Hide the default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e11a1a;
  box-shadow: 0 0 5px #f9f9f9, 0 0 15px #cd5810, 0 0 25px #ff0000;
  border: 2px solid white;
  transition: 0.4s;
  border-radius: 34px;
  color: white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.3rem;
  /* bottom: 3px; */
  top: 0.1rem;
  right: 1.7rem;
  background-color: white;
  box-shadow: 0 0 2px #050000, 0 0 10px #e0e0e0;
  transition: 0.4s;
  border-radius: 50%;
  border: 0.5px solid black;
}

/* When the checkbox is checked */
input:checked + .slider {
  background-color: #1fcb0c;
  box-shadow: 0 0 5px #f9f9f9, 0 0 15px #00ffd9, 0 0 25px #3cff00;
}

/* Move the slider when the checkbox is checked */
input:checked + .slider:before {
  transform: translateX(1.5rem);
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./bg.png'); /* Your image path */
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  /* Add any other content styles you need here */
}
